<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4><%= events.title %> Sales</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Buyer name</th>
                                            <th>Merchandise name</th>
                                            <th>Merchandise Price</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < sales.length; i++ ) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= sales[i].user.name%> </td>
                                            <td><%= events.title%></td>
                                            <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format((Number(events.amount))) %></td>
                                            <td><%= moment(sales[i].createdAt).format("DD-MMM-YYYY") %></td>
                                            
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer2") %>