<!-- header -->
<%- include("../partials/header_admin") %>
<%- include("../partials/sidebar") %>

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Paystack Payments History</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Amount</th>
                                            <th>Category</th>
                                            <th>Payment Reference</th>
                                            <th>Payment UID</th>
                                            <th>Date</th>
                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < payments.length; i++ ) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= payments[i].user.fname %>  <%= payments[i].user.lname %></td>
                                            <td><%= payments[i].user.email %></td>
                                            <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'NGN' }).format((Number(payments[i].amount))) %></td>
                                            <td><%= payments[i].payment_category %></td>
                                            <td><%= payments[i].payment_reference %></td>
                                            <td><%= payments[i].uid %></td>
                                            <td><%= moment(payments[i].createdAt).format("DD-MMM-YYYY") %></td>
                                            
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("../partials/footer2") %>